body{
    background-color: #d4e4ff;
}
#pagetitle{
    text-align: center;
}
.searchbar{
    margin: auto;
    width: 50%;
}
form{
    text-align: center;
}
.results{
    margin: auto;
}
table{
    margin-left: auto;
    margin-right: auto;
}
#privacylink{
    text-align: center;
}
#bottomlinks{
    text-align: center;
}