{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
{% if player=='notfound' %}
<h3>Player not found!</h3>
{% else %}
<h3 class="title">Player details:</h3>
<table class="playerlisttable">
    <tr>
        <th>
            Name
        </th>
        <td>
            {{ player[1] }}
        </td>
    </tr>
    <tr>
        <th>
            Server
        </th>
        {% if player[3]==1 %}
        <td>
            US
        </td>
        {% elif player[3]==2 %}
        <td>
            EU
        </td>
        {% else %}
        <td>
            KR
        </td>
        {% endif %}
    </tr>
    <tr>
        <th>
            Race
        </th>
        <td>
            {{ player[8] }}
        </td>
    </tr>
    <tr>
        <th>
            Wins
        </th>
        <td>
            {{ player[6] }}
        </td>
    </tr>
    <tr>
        <th>
            Losses
        </th>
        <td>
            {{ player[7] }}
        </td>
    </tr>
    <tr>
        <th>
            MMR
        </th>
        <td>
            {{ player[4] }}
        </td>
    </tr>
</table>
{% endif %}
<div class="playermethods">
    <a href="/">
    <div class="linkcell">
        <span>Back</span>
    </div>
    </a>
    <a href="/details/{{ player[0] }}/matchhistory">
        <div class="linkcell">
            <span>View match history</span>
        </div>
    </a>
    <a href="/details/{{ player[0] }}/mmrhistory">
        <div class="linkcell">
            <span>View player dashboard</span>
        </div>
    </a>
</div>
{% endblock %}