{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<table>
        <tr>
            <th>
                Result
            </th>
            <th>
                type
            </th>
            <th>
                Map
            </th>
            <th>
                Opponent
            </th>
            <th>
                Opponent Race
            </th>
            <th>
                Date
            </th>
        </tr>
        {% for match in matches %}
        <tr>
            <td>
                {{ match[8] }}
            </td>
            <td>
                {{ match[7] }}
            </td>
            <td>
                {{ match[6] }}
            </td>
            <td>
                <a href='/details/{{ match[14] }}/{{ match[5] }}'>{{ match[15] }}</a>
            </td>
            <td>
                {{ match[16] }}
            </td>
            <td>
                {{ match[10] }}
            </td>
        </tr>
        {% endfor %}
</table>
{% endblock %}