{% extends 'base.html' %}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.0/chart.min.js" integrity="sha512-xemBn324HMu/8XzlHvoVKvDdTmVLCZelF4mlovpiLO8wwfz6zpMysv2f8WfqUWX/g2IuAGErdqytAnYgN70uNw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}
{% block body %}
<div class="chart">
    <canvas id="myChart"></canvas>
</div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{ labels | safe }},
        datasets: [{
          label: 'MMR',
          data: {{ ratings | safe }},
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: false
          }
        }
      }
    });
  </script>
{% endblock %}