{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<h2>Privacy Policy</h2>
<p>Personal Data</p>
<P>SC2dashboard will not collect personal data when you visit the site. Your IP address will be stored in a protected server-side log file and will stay hidden until they are deleted</P>
<p>Battle.net API</p>
<p>All Data presented in sc2dashboard came from the Battle.net API only. In accordance with Blizzard's API policy, SC2dashboard provides data "AS IS" and "AS AVAILABLE". You shall expect no quality/performance/accuracy from the data provided by sc2dashboard. SC2dashboard does not garentee reliability nor consistency of information on the website</p>
<p>Removal of data</p>
<p>Following Blizzard's terms of service, we will delete the data within 30 days after it becomes unavailable from the Blizzard's API.</p>
<p>Licencing</p>
<p>SC2dashboard is open source. It is developed using a simple flask framework in python utilizing the battle.net API. You can view the github repository through the link on the bottom of the page</p>
{% endblock %}