{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block body %}
<h2>Privacy Policy</h2>
<p>Personal Data</p>
<P>SC2dashboard will not collect personal data when you visit the site. Your IP address will be stored in a short-lived server side log and will not be used for any purposes.</P>
<p>Battle.net API</p>
<p>All Data presented in sc2dashboard came from the Battle.net API only. In accordance with Blizzard's API policy, SC2dashboard provides data "AS IS" and "AS AVAILABLE". You shall expect no quality/performance/accuracy from the data provided by sc2dashboard</p>
<p>Removal of data</p>
<p>Following Blizzard's terms of service, we will delete the data within 30 days after it becomes unavailable from the Blizzard's API.</p>
{% endblock %}